<section>
  <article>
    <div class="column">

      <form (ngSubmit)="traducir(palabras.value)">
        <label for="palabras">{{ title }} </label>
        <input type="text" [(ngModel)]="consulta" name="palabras" #palabras autofocus autocomplete="off"/>
        <button class="btn btn-success" type="submit">{{translate}} </button>
        <button class="btn btn-danger" (click)="reset()">{{clean}}</button>
      </form>

    </div>
  </article>

  <article>
    <div *ngFor="let letra of laPalabra">
      <div class="letra">
        <img src="{{ letra }}" alt="" />
      </div>
    </div>
  </article>
</section>
