<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">
        <img src="../../../assets/logo/logo-signals.png" alt="logo signals">
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">

          <li class="nav-item">
            <a class="nav-link" href="/argentina">argentina</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="/brasil">brasil</a>
          </li>
          
          <li class="nav-item">
            <a class="nav-link" href="/alfa-argentina">ver argentino</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="/alfa-brasil">ver brasilero</a>
          </li>

        </ul>
      </div>
    </div>
  </nav>
